<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EJS Engine</title>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron">
        Examples of Html pages
    </div>
</div>
</body>
</html>
